In [4]:
import duckdb
from pygg import *

In [2]:
db = duckdb.connect("./hw0.db")

In [3]:
db.execute("drop table ans")
db.execute("create table ans as SELECT * FROM read_csv_auto('./hw0form.csv')")

In [6]:
data = db.execute("select * from ans limit 1").fetchdf()
data

,time,email,name,uni,goal,success,enjoy,competence,help,empower,honesty,hw,dishonesty,fail
0,1/20/22 19:08,xr2154@columbia.edu,Xurxo Riesco,xr2154,Master design and implementation of databases ...,I would like to feel as comfortable in terms o...,NaN,7,I commit to helping my classmates succeed in W...,"I empower myself to check the Syllabus, Lectur...",I have read and will abide by the CS departmen...,"homeworks alone, projects in pairs",SEVERE ACADEMIC DISHONESTY,I understand that students can receive a faili...

In [21]:
data = db.execute("select hw, count(*) as c from ans group by hw").fetchdf()

TypeError: values(): incompatible function arguments. The following argument types are supported:
    1. (self: duckdb.DuckDBPyConnection, values: object) -> duckdb.DuckDBPyRelation

Invoked with: <duckdb.DuckDBPyConnection object at 0x7fce90eaca30>

In [13]:
p = ggplot(data, aes(x="hw", y="c")) + geom_bar() + coord_flip() + axis_labels("Answer", "Count", "discrete")
ggsave("plot.png", p, width=6, height=3)

library(ggplot2)
data = read.csv("/var/folders/cp/l8dwjczn72b9jd2q673pbjx00000gp/T/tmpwbybr_mq",sep=",")
p = ggplot(data,aes(x=hw,y=c)) + geom_bar() + coord_flip() + scale_x_discrete(name="Answer") + scale_y_continuous(name="Count")
ggsave("plot.png",p,height=3,scale=1,width=6)

ValueError: ggplot2 bridge failed for program: library(ggplot2)
data = read.csv("/var/folders/cp/l8dwjczn72b9jd2q673pbjx00000gp/T/tmpwbybr_mq",sep=",")
p = ggplot(data,aes(x=hw,y=c)) + geom_bar() + coord_flip() + scale_x_discrete(name="Answer") + scale_y_continuous(name="Count")
ggsave("plot.png",p,height=3,scale=1,width=6). Check for an error

In [22]:
db.close()