# Creating an Explicit Database Connection

In [ ]:
from sqlalchemy import create_engine
db = create_engine("postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111")
connection = db.connect()  # first connect to the database

Now you can use the database connection to run queries in Python

In [ ]:
cursor = connection.execute("select 1")  # run a query.  it does not return the actual rows.  it returns a cursor
rows = cursor.fetchall()  # ask cursor to give us all the result rows
print(rows)

# Using Jupyter Magic

The following is syntax that asks jupyter to handle the database connection for us, so we just write "%sql"  statements.  It sets the Jupyter notebook environment

In [1]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql postgresql://student:w4111student@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111

In [2]:
%sql SELECT 1

 * postgresql://student:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111
1 rows affected.

[(1,)]

In [4]:
%%sql

SELECT 1

 * postgresql://student:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111
1 rows affected.

[(1,)]

In [5]:
%%sql
DROP TABLE IF EXISTS sailors cascade;
DROP TABLE IF EXISTS boats cascade;
DROP TABLE IF EXISTS reserves;

CREATE TABLE sailors(
    sid serial primary key,
    name text,
    rating int,
    age int    
);
create table boats(
    bid serial primary key,
    name text,
    color text
);
create table reserves(
    sid int references sailors,
    bid int references boats,
    day text
);

INSERT INTO sailors VALUES 
(1, 'Eugene', 7, 22),
(2, 'Luis', 2, 39),
(3, 'Ken', 8, 27);
INSERT INTO boats VALUES
(101, 'Legacy', 'red'),
(102, 'Melon', 'blue'),
(103, 'Mars', 'red');
INSERT INTO reserves VALUES
(1, 102, '9/12/2016'),
(1, 101, '9/12/2016'),
(1, 103, '9/12/2016'),
(2, 102, '9/13/2016'),
(2, 103, '9/14/2016');

 * postgresql://student:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111
Done.
Done.
Done.
Done.
Done.
Done.
3 rows affected.
3 rows affected.
5 rows affected.

[]

In [7]:
%%sql

SELECT * FROM sailors

 * postgresql://student:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/w4111
(psycopg2.errors.UndefinedTable) relation "sailors" does not exist
LINE 1: SELECT * FROM sailors
                      ^

[SQL: SELECT * FROM sailors]
(Background on this error at: http://sqlalche.me/e/f405)